body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;

  border: 5px solid black;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
}

a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: top left;
  transform: rotate(-90deg);
  transition: transform 0.5s;
}

a:hover::before {
  transform: rotate(0deg);
}
