a.rotating-btn {
  text-decoration: none;
  color: #000;

  border: 5px solid black;
  padding: 30px 70px;
  position: relative;
  overflow: hidden;
  font-size: 40px;
}

a.rotating-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: top left;
  transform: rotate(-90deg);
  transition: transform 0.5s;
}

a.rotating-btn:hover::before {
  transform: rotate(0deg);
}
