a.swipe-top-bottom {
  text-decoration: none;
  color: black;
  padding: 30px 80px;
  border: 3px solid teal;
  color: teal;
  font-family: sans-serif;
  font-size: 40px;
  position: relative;
  overflow: hidden;
  transform: all 1s;
}

a.swipe-top-bottom::before {
  content: 'Yeah';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  transition: all 0.5s;
}

a.swipe-top-bottom:hover::before {
  transform: translateY(100%);
}

a.swipe-top-bottom:hover {
  border: 3px solid teal;
  color: white;
}
