a.stretching-btn {
  text-decoration: none;
  padding: 40px 80px;
  border: 3px solid #e1332d;
  text-transform: uppercase;
  font-size: 40px;
  font-family: sans-serif;
  letter-spacing: -2px;
  transition: all 0.5s;
}

a.stretching-btn:hover {
  font-weight: bold;
  letter-spacing: 10px;
  border: 7px solid #e1332d;
}
